<label class="mt-2" for="">
    <span class="label-style">Repo name:</span>
    <input  type="text" class="ml-2 input-style" [ngModel]="''" (ngModelChange)="onTextChange($event)">
</label>
<div class="row">
    <div *ngIf="(repositories$ | async) as repositories">
        <h2>Repos</h2>
        <ng-container [ngSwitch]="repositories.length">
            <ng-container *ngSwitchCase="0">
                No Result
            </ng-container>
            <div class="d-flex justify-content-between row" *ngSwitchDefault>
                <div class="row">
                    <div class="col-md-12" style="display: flex; width: 100%;">
                        <div class="col-md-6">
                            <div *ngFor="let repository of repositories" (mouseover)="mouseEvent(repository)"
                                (mouseleave)="mouseEvent(undefined)">
                                {{ repository.name }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div>
                                <div *ngIf="(selectedRepository$ | async) as selectedRepository">
                                    <h4>{{ selectedRepository.owner.login }}</h4>

                                    <img [attr.src]="selectedRepository.owner.avatar_url" width="200" height="auto"
                                        alt="avatar" />
                                </div>
                                <div *ngIf="(organizations$ | async) as organizations" class="mt-2">
                                    <h6>Organizations</h6>

                                    <div *ngFor="let org of organizations" class="d-inline-flex mr-2">
                                        <img [attr.src]="org.avatar_url" width="50" height="50" alt="org avatar" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </ng-container>

    </div>
</div>