#header {
    padding: 20px;
}
li {
    list-style-type: none
}
ul{
    display: flex;
    justify-content: space-around;
}
.header-item{
    padding: 5px;
    background: gray;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}
.list-item-type {
    text-decoration: none;
    color: black;
    padding: 8px;
    background: gray;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}